<div class="search-panel mb-5">
  <div class="row align-items-baseline justify-content-center">
    <h5 style="text-transform: uppercase;">
      Нормативна уредба на договорите между студенти, работодатели и висши училища
    </h5>
  </div>
</div>

<div class="container">
  <div class="document-box">
    <a class="link primary"
       href="assets/documents/ZVO.pdf"
       target="_blank">
      <div class="d-flex">
        <app-icon icon="file-earmark-pdf-fill"></app-icon>
        <span class="ml-1"> Закон за висшето образование </span>
      </div>
    </a>
  </div>

  <div class="document-box">
    <a class="link primary"
       href="assets/documents/NUROZROS.pdf"
       target="_blank">
      <div class="d-flex">
        <app-icon icon="file-earmark-pdf-fill"></app-icon>
        <span class="ml-1">
          Наредба за условията и реда за осигуряване на заплащането на разходите за обучение на студенти със сключени
          договори с работодатели
        </span>
      </div>
    </a>
  </div>
</div>