<div class="d-flex"
     style="align-items:baseline">

  <button type="button"
          class="btn btn-sm btn-primary mb-4"
          (click)="backClicked()">
    <app-icon icon="chevron-left"
              class="thicker-icon d-inline-flex"
              width="12"
              height="12"></app-icon>
    Назад
  </button>
</div>

<table class="table search-table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">{{ 'application.commitHistory.createDate' | translate }}</th>
      <th scope="col">{{ 'application.commitHistory.applicantName' | translate }}</th>
      <th scope="col">{{ 'application.commitHistory.status' | translate }}</th>
      <th scope="col"
          style="width: 25%;">Основание за промяна</th>
      <th scope="col"
          style="width: 8.33%;">{{ 'application.commitHistory.actions' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let commit of model.commits, let i = index">
      <td>{{ commit.createDate | date: 'dd.MM.yyyy, HH:mm:ss' }}ч.</td>
      <td>{{ commit.creatorUser }}</td>
      <td>{{ enumLocalization[commit.state] }}</td>
      <td>{{ commit.changeStateDescription || null }}</td>
      <td style="text-align: center;">
        <a *ngIf="commit.commitId && i !== 0"
           [routerLink]="['/application', 'lot', commit.lotId, 'commit', commit.commitId]">
          <app-icon icon="search"></app-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>